/*body{background-color: bisque;}
body{background-image: url("https://img.freepik.com/vector-gratis/dulces-tortas-bollos-patrones-fisuras_101660-680.jpg");}

/*body{background-image: url("https://img.freepik.com/foto-gratis/waffles-belgas-frambuesas-arandanos-jarabe-desayuno-saludable-casero-espacio-copia-fondo-hormigon-ligero_136595-2445.jpg");}


main{background-image: url("https://img.freepik.com/vector-gratis/dulces-tortas-bollos-patrones-fisuras_101660-680.jpg");}
*/
header {background-color: rgb(223, 205, 221);padding: 20px;}

/*CLASES*/
.mapa{border:1px solid black; padding: 2px;}
.sucursales{font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}
.input_formulario{}