body{
    margin:20px;
    font-family: Arial, Helvetica, sans-serif;

}

header {padding: 10px;
}
h3{
    color:darkmagenta;
}




/*CLASES*/
.whatsapp {
}
.mapa{
    border:1px solid black; 
    padding: 2px;
    width:80%;
    max-width:500px;
    min-width: 200px;
    height:80%;
    max-height: 500px;
    min-height: 200px;

}

.sucursales{
    display:flex;
    padding:10px;
    column-gap:10px;
}
.sucursal{
    align-items: baseline; 
    align-content: space-around;
    padding:3px;
    flex-grow: 1;
}

.contacto{
    margin-top: 30px;
}
/*****************************/
/* Barra de navegacion - menu*/
/*****************************/
.barra_superior{
    background-color: rgb(223, 205, 221);
    display:flex; 
    text-align:center;
    padding:10px;
    margin:-10px;
    column-gap:10px;
}
.item_bs{
    align-items: baseline; 
    align-content: space-around;
    flex-grow: 1;
    background-color: rgb(184, 136, 180);
    padding:3px;
    width: 20%;
}
.link_bs{
    color: azure;
}

/*****************************/
/*           PIE             */
/*****************************/
.pie{
    background-color: rgb(223, 205, 221);
    display:flex; 
    text-align:center;
    padding:10px;
    column-gap:10px;
    }

/*****************************/
/*      PORTADA              */
/*****************************/
.img_portada{
    display:block;
    margin:auto;
    }

/*****************************/
/*      FORMULARIO           */
/*****************************/
.formulario{
    display: flex;
    justify-content: left;
    align-items: center;
}

.input_formulario{
    border-color:darkred;
    border-width: 1px;
}
.div_formulario{
    font-family: Arial, Helvetica, sans-serif;
    margin:10px;
}

