body{
    margin:20px;
    margin-top: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("../img/fondo3.jpg");
    background-repeat:repeat;

}

header {padding: 10px;
}
h3{
    color:darkmagenta;
}



/*CLASES*/



.sucursales{
    display:flex;
    padding:3px;
    column-gap:10px;
}
.sucursal{
    align-content: space-around;
    padding:15px;
    flex-grow: 1;
}
.mapa{
    border:1px solid black; 
    padding: 2px;
    width:80%;
    max-width:500px;
    min-width: 150px;
    height:80%;
    max-height: 500px;
    min-height: 150px;

}
/*****************************/
/* Barra de navegacion - menu*/
/*****************************/
.barra_superior{
    background-color: rgb(223, 205, 221);
    display:flex; 
    text-align:center;
    padding:10px;
    margin:0px;
    column-gap:10px;
}
.item_bs{
    align-items: baseline; 
    align-content: space-around;
    flex-grow: 1;
    background-color: rgb(184, 136, 180);
    padding:3px;
    width: 20%;
}

.banner{
    background-image: url(../img/banner1.jpg);
}
.logotipo{
    width: 100px;
    height: 100px;
    animation-name: logo;
    animation-duration: 4s;
    position: relative; 
    animation-delay: 0s;
}
/* Para el logotipo */
@keyframes logo {
    0%   {left:800px; top:0px;}
    100% {left:0px; top:0px;}
}


.link_bs{
    color: azure;
}

/*****************************/
/*           PIE             */
/*****************************/
.pie{
    background-color: rgb(223, 205, 221);
    display:flex; 
    text-align:center;
    padding:10px;
    column-gap:10px;
    margin-top:100px;
    }

/*****************************/
/*      PORTADA              */
/*****************************/
.img_portada{
    display:block;
    margin:auto;
    }

.portada{
        width: 540px;
        height: 400px;
        background-color: rgb(194, 120, 157); 
        background-image: url(../img/fondo2.jpg);
        margin-left:auto;
        margin-right:auto;
        
    }
    .portada1{
        width: 270px;
        height: 190px;
        animation-name: animacion_portada;
        animation-duration: 4s;
        position: relative;
        animation-delay: 0s;
        margin:0px;
        top: 0px;
        background-image: url("../img/portada_1.gif");
        background-repeat:no-repeat;
        
    }   
    .portada2{
        width: 270px;
        height: 190px;
        animation-name: animacion_portada2;
        animation-duration: 4s;
        position: relative;
        animation-delay: 0s;
        margin-left:270px;
        top: -190px;
        background-image: url("../img/portada_2.gif");
        background-repeat:no-repeat;
    }   
    
    .portada3{
        width: 270px;
        height: 190px;
        animation-name: animacion_portada3;
        animation-duration: 4s;
        position: relative;
        animation-delay: 0s;
        margin-left:270px;
        top: -170px;
        /* background-color: rgb(57, 109, 93); */
        background-image: url("../img/portada_3.gif");
        background-repeat:no-repeat;
    }   
    
    .portada4{
        width: 270px;
        height: 190px;
        animation-name: animacion_portada4; 
        animation-duration: 4s;
        position: relative;
        animation-delay: 0s;
        margin-left:0px;
        top: -360px;
        /* background-color: rgb(126, 144, 177);*/
        background-image: url("../img/portada_4.gif");
        background-repeat:no-repeat;
    } 
    .portada5{
        width: 368px;
        height: 190px;
        animation-duration: 4s;
        position: relative;
        animation-delay: 0s;
        margin:auto;
        top: -645px;
        background-color: rgb(255, 255, 255);
        background-image: url("../img/titulo.gif");
        background-repeat:no-repeat;
    } 
/* Para animacion portada */
@keyframes animacion_portada {
    0%   {right: -135px; top:155px}
    100% {right:0px; top: 0px;}
}
@keyframes animacion_portada2 {
    0%   {margin-left: 135px; top:-95px}
    100% {margin-left:270px; top: -190px;}
}
@keyframes animacion_portada3 {
    0%   {margin-left: 135px; top:-265px}
    100% {margin-left:270px; top: -170px;}
}
@keyframes animacion_portada4 {
    0%   {right: -135px; top:-435px}
    100% {right:0px; top: -360px;}
}


/*****************************/
/*      FORMULARIO           */
/*****************************/
.formulario{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:10px;
    width:100%;
    flex-direction: column;

}

.input_formulario{
    border-color:#8b0000;
    border-width: 1px;
}
.div_formulario{
    font-family: Arial, Helvetica, sans-serif;
    margin:10px;
    display:flex;
    flex-direction: row;
    width:100%;

}
.div_formulario > div{
    width:100%;
}


.boton_registro{
    border:1px solid #8b0000;
    
}

/*****************************/
/*      Especialidades       */
/*****************************/
.contenedor {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(4,1fr);
    gap: 10px;
    grid-template-areas:
    ".    esp1 .    "
    "esp2 esp1 esp3"
    "esp2 esp4 esp3"
    ".    esp4 .    ";
}

.especialidades {
    padding: 20px;
    border: 0.5px rgb(179, 177, 177) solid;
    border-radius: 15%;
    border-top: 5px rgb(160, 60, 143) solid;
    align-items: center; 
    background-position: center; 
    background-repeat: no-repeat;
    /* ancho y alto verificar */
    width: 310px;
    height: 310px;
}
.especialidades_parrafo{
    display:none;
    border-radius: 15%;
    padding:15%;
}

.especialidades:nth-of-type(1) {
    grid-area: esp1;
}

.especialidades:nth-of-type(2) {
    grid-area: esp2;
}

.especialidades:nth-of-type(3) {
    grid-area: esp3;
}

.especialidades:nth-of-type(4) {
    grid-area: esp4;
}

/* MAX-WIDTH: 850px*/

@media only screen and (max-width: 850px) {
    /*menu */

    .item_bs{ 
        width: 25%;
        margin-bottom:10px;
    }
    /* Para el logotipo */

    @keyframes logo {
    0%   {left:700px; top:0px;}
    100% {left:0px; top:0px;}
    }

    .contenedor {
        grid-template-columns: repeat(1,0fr);
        grid-template-rows: repeat(2,1fr);
        grid-template-areas:
        "esp1 esp2"
        "esp3 esp4";
    }
    .sucursales{
        flex-direction: column;
    }

    .especialidades {
    width: 310px;
    height: 310px;
    }

}

@media only screen and (max-width: 650px) {
    /*menu */
    .barra_superior{ 
        flex-direction:column;
    }
    .item_bs{ 
        width: 100%;
        margin-bottom:10px;
    }
    .contenedor {
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(4,1fr);
        grid-template-areas:
        "esp1"
        "esp2"
        "esp3"
        "esp4";
    }
    .especialidades {
        width: 70%;
        height: 70%px;
    }

    .sucursales{
        flex-direction: column;
    } 
    
    @keyframes logo {
        0%   {left:430px; top:0px;}
        100% {left:0px; top:0px;}
    }   

}